<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<table class="table">
		<thead>
			<tr>
				<th>IataOrigin</th>
				<th>IataDestination</th>
				<th>OriginStation</th>
				<th>DestinationStation</th>
				<th>Price</th>
				<th>airlines</th>
				<th>fareclass</th>
				<th>departure</th>
				<th>arrival</th>
				<th>durations</th>
				<th>flight_numbers</th>
				<th>number_of_stops</th>
			</tr>
		</thead>
		<tbody>
			<% json.forEach(function(item){ %>
				<tr>
					<td><%= item.IataOrigin %></td>
					<td><%= item.IataDestination %></td>
					<td><%= item.OriginStation %></td>
					<td><%= item.DestinationStation %></td>
					<td>
						<% var prices = JSON.parse(item.price) %>
						<ul>
						<% prices.forEach(function(p){ %>
							<li>Agent: <%= p.Agents %> - Price: <%= p.Price %></li>
						<% })%>
						<ul>
					</td>
					<td><%= item.airlines %></td>
					<td><%= item.fareclass %></td>
					<td><%= item.departure %></td>
					<td><%= item.arrival %></td>
					<td><%= item.durations %></td>
					<td><%= item.flight_numbers %></td>
					<td><%= item.number_of_stops %></td>
				</tr>
			<%	}) %>
		</tbody>
	</table>
</body>
</html>